# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\domin\OneDrive\Pulpit\S\Analiza i Bazy Danych\laboratorium-14-DominikCzyzyk32\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
